1 VERSIONINFO
FILEVERSION     @NOWRUZPUZZLE_REST_PRODUCT_VERSION_MAJOR@,@NOWRUZPUZZLE_REST_PRODUCT_VERSION_MINOR@,@NOWRUZPUZZLE_REST_PRODUCT_VERSION_PATCH@,0
PRODUCTVERSION  @NOWRUZPUZZLE_REST_PRODUCT_VERSION_MAJOR@,@NOWRUZPUZZLE_REST_PRODUCT_VERSION_MINOR@,@NOWRUZPUZZLE_REST_PRODUCT_VERSION_PATCH@,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@NOWRUZPUZZLE_PRODUCT_COMPANY_NAME@"
            VALUE "FileDescription", "@NOWRUZPUZZLE_REST_PRODUCT_DESCRIPTION@"
            VALUE "FileVersion", "@NOWRUZPUZZLE_REST_PRODUCT_VERSION@"
            VALUE "InternalName", "@NOWRUZPUZZLE_REST_PRODUCT_INTERNAL_NAME@"
            VALUE "LegalCopyright", "@NOWRUZPUZZLE_PRODUCT_COPYRIGHT@"
            VALUE "OriginalFilename", "@NOWRUZPUZZLE_REST_BIN_NAME@.exe"
            VALUE "ProductName", "@NOWRUZPUZZLE_REST_PRODUCT_NAME@"
            VALUE "ProductVersion", "@NOWRUZPUZZLE_REST_PRODUCT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
2 ICON "app-icon.ico"
